@{
    ViewBag.Title = "Login";
}
@model selling_online.Models.Customer

<link href="~/Content/Custom_Style/Login.css" rel="stylesheet" />
<main>

    <div class="login-wrapper">
        @using (Html.BeginForm("AuthenLogin", "Account", FormMethod.Post))
        {
            <h1>LOGIN</h1>
            <div class="input-box">
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })
                <i class='bx bxs-user-rectangle'></i>
                @if (ViewBag.ErrorName != null)
                {
                <h5>@ViewBag.ErrorName</h5>
                }
            </div>
            
            <div class="input-box" style="margin-top:5px;">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                <i class='bx bxs-lock-alt'></i>
                @if (ViewBag.ErrorPass != null)
                {
                <h5>@ViewBag.ErrorPass</h5>
                }
            </div>
           
            <div class="remember-forgot">
                <label> <input type="checkbox"> Lưu mật khẩu </label>
                <b><a href="#"> Forgot password?</a></b>
            </div>
            <button type="submit" value="Login" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have a account ?          <b><a href="@Url.Action("Register", "Home")">Register here</a></b></p>
            </div>
        }
    </div>

</main>


