@using selling_online.Models
@{
    ViewBag.Title = "Trang chính";
}
<link href="~/Content/Custom_Style/Home/Home.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Loại sản phẩm</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 2 }) ">Áo</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 3 }) ">Quần</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 1 }) ">Mũ</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home")" >Tất cả sản phẩm</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-9">
        <h3>Sản phẩm</h3>
        <div class="row">
            @if (ViewBag.Items != null && ViewBag.Items.Count > 0)
            {
                foreach (var item in ViewBag.Items as List<selling_online.Models.Product>)
                {
                    <div class="col-md-4">
                        <div class="item">
                            <img src="@item.Image" alt="@item.ProductName" class="img-thumbnail" style="max-width: 100%;">
                            <a href="@Url.Action("ClothingDetails", "Clothing", new { productId = item.ProductID })">
                                <p>@item.ProductName</p>
                            </a>                            <p class="item-price">Giá: @item.Price VND</p>
                            <button class="btn btn-success" onclick="addToCart('@item.ProductName')">Thêm vào giỏ</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không có sản phẩm nào thuộc danh mục này.</p>
            }
        </div>
    </div>
</div>
