@using selling_online.Models
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Trang chính";
}

<link href="~/Content/Custom_Style/Home/Home.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Loại sản phẩm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 2 }) ">Áo</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 3 }) ">Quần</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home", new { categoryId = 4 }) ">Mũ</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Home")">Tất cả sản phẩm</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-9">
        <h3>Sản phẩm</h3>
        <div class="row">
            @if (ViewBag.Items != null && (ViewBag.Items as IPagedList<Product>).Count > 0)
            {
                foreach (var item in ViewBag.Items as IPagedList<Product>) // Sửa để ép kiểu đúng
                {
                    <div class="col-md-4">
                        <div class="item">
                            <a href="@Url.Action("ProductDetails", "Home", new { id = item.ProductID, quantity=1 })">
                                <img src="@item.Image" alt="@item.ProductName" class="img-thumbnail" style="max-width: 100%;">
                            </a>
                            <p>@item.ProductName</p>
                            <p>@item.Category.CategoryName</p>
                            <p class="item-price">Giá: @item.Price VND</p>
                            <button onclick="window.location.href='@Url.Action("AddToCart", "Cart", new { id = item.ProductID })'" class="btn btn-primary">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>

                }
            }
            else
            {
                <p>Không có sản phẩm nào thuộc danh mục này.</p>
            }
        </div>
        <div class="pagination-container">
            @Html.PagedListPager(
                (IPagedList)ViewBag.Items,
                page => Url.Action("Index", new { page, categoryId = ViewBag.SelectedCategoryId }),
                 new PagedListRenderOptions
                 {
                   
                     ContainerDivClasses = new[] { "pagination-container" },
                     UlElementClasses = new[] { "pagination" },
                     LiElementClasses = new[] { "page-item" } // Class cho thẻ <li>


                 }
            )
        </div>



    </div>
</div>
