@model selling_online.Models.Product

@{
    ViewBag.Title = "ClothingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom_Style/Clothing/ClothingDetails.css" rel="stylesheet" />
<div class="product-container row">
    <!-- Hình ảnh sản phẩm -->
    <div class="col-md-6 product-image">
        <img src="@Model.Image" alt="@Model.ProductName " class="img-fluid">
    </div>

    <!-- Thông tin sản phẩm -->
    <div class="col-md-6 product-details">
        <h2 class="product-name">@Model.ProductName</h2>
        <h4 class="product-price">Giá: @Model.Price VND</h4>
        <p>Description:</p>
        <p class="product-description">@Model.Description</p>
        
        <div class="product-buttons">
            <button class="btn btn-success">Thêm vào giỏ hàng</button>
            <button class="btn btn-primary">Mua ngay</button>
        </div>
    </div>
</div>
